* {
    box-sizing: border-box;
    margin: 0px;
    font-family: acme, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #e6e6e6;
}
header{
    background-color: #c5a880;
    color:  #0f0f0f;
    padding: 30px;
    font-size: 40px;
    text-align: center;    
}
nav{
    padding: 15px;
    background-color: #0f0f0f;
}
nav a{
    text-decoration: none;
    color:#e6e6e6;
    text-align: left;
    padding: 20px;
}
main{
    padding: 30px;
}
.home{
    text-align: center;
}
.home h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.home img{
    border: 3px solid black;
    border-width: 3px;
    width: 42%;
    border-radius: 10%;    

}
.about h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.about p{
    padding-bottom: 20px;
    color: #532e1c;
    font-weight: bold;
}
.videos h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.videos iframe{
    width: 33%;
    padding: 20px;
}
.material h1{
    font-size: 30px;
    padding-bottom: 30px;
}
.material a img{
    width: 33%;
    padding: 20px;
    height: 350px;
}
.contact h1{
    font-size: 30px;
    padding-bottom: 30px;
}
.contact ul li{
    list-style: none;
    float: left;
    font-size: 20px;
    text-align: center;
    width:25%;
    padding-bottom: 30px;
    color: #532e1c
}
.contact ul li a{
    text-decoration: none;
    color: #532e1c
}
.contact ul li img{
    border-radius: 80%;
    width: 80px;
    height: 80px;
    border: 2px solid white;
}